html, body {
  margin: 0px;
  padding: 0px;
}

.atom, .bond, .arrow, .wall {

  position: absolute;

  padding: 0px;
  margin: 0px;
  overflow: hidden;

}

.center {text-align: center;}

#main {
  position: relative;
}

#arena {
  position: absolute;
  padding: 0px;
  margin: 0px;
  left: 10px;
  border: thick outset gray;
}

#loading {
  height: 200px;
  overflow: hidden;
}

#molecule {
  position: absolute;
  padding: 0px;
  margin: 0px;
  border: thick outset gray;
  cursor: move;
}

#headbar {
  background-color: black;
  color: white;
  font-size: smaller;
  font-weight: bold;
  padding: 0.25em;

}

#headbar a {
    color: white;
}

#controls {

  padding: 10px;
  padding-top: 5px;
  text-align: center;

}

#controls p {
  margin: 0px;
  padding: 0px;
  padding-top: 5px;
}

#selectors {

}

#move-controls {
 position: absolute;
}

#blurb {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#after-main {
  position: relative;
}

#footer {
  font-size: smaller;
  width: 99%;
  padding-bottom: 1em;
}

.hide-selector {
  display: none;
}
#levelset-credits {
  text-align: center;
  font-weight: bold;
  font-size: smaller;
}

/*  Modal Dialogs */

/*
  This element is dynamically created. There is only one per page.
  xModalDialog assumes this class name. It is used to grey out
  the page when modal dialogs are displayed.
*/
.xModalDialogGreyElement, .xShieldElement{
  position: absolute;
  overflow: hidden;
  width: 10px; height: 10px;
  left: -10px; top: -10px;
  z-index: 100;
  opacity: .3; /* CSS3 */
  background-color: #000;
  filter: alpha(opacity=30);
}

.xxModalDialog {
  position: absolute;
  overflow: auto;
  left: -50000px;
  width: 400px;
  padding: 1em;
  color: #BF8660;
  background-color: #FFF;
  border: 2px solid #BF8660;
  z-index: 99;
  text-align: center;
}

#success-dialog {
  position: absolute;
  left: -50000px;
}


#ajax-dialog {
  position: absolute;
  left: -50000px;
}

#bookmark-dialog {
  position: absolute;
  left: -50000px;
}

#solutions {
  margin: auto;
}

#solutions td, #solutions th {
  border: 1px #ccc solid;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 2px;
  padding-bottom: 2px;

}

#lastupdated {
  font-size: smaller;
  text-align: center;
  font-style: italic;
}

#disqus_thread {
  margin-left:20%;
  margin-right:20%;
  padding: 2em;
  background-color: yellow;
}

#sdf-promotion {
  font-size: large;
  font-weight: bold;
}
